
@media screen and (max-width: 576px){
   .banner-mobile {
      display: block;
   }
   .banner-desktop {
      display: none;
   }
   .hotline , .icon-social-network {
      display: none;
   }
   .site-header-top {
      justify-content: center;
   }
   .site-header-top, .nav-header {
      width: 92%;
   }
   .list-banner {
      margin: 0.5rem;
   }

   .icon-menu {
      font-size: 30px;
      display: block;
   }
   .nav-menu {
      display: none;
   }
   .icon-account {
      display: none;
   }
   .banner-1 {
      margin-top: 75px;
   }
   .column-product {
      width: 50%;
   }
   .list-product-trend {
      padding-left: 10px;
   }
   .item-product-trend {
      
   }
   .nav-list-product {
      width: 100%;
   }
   .category {
      padding-right: 0;
   }
   .one-image-banner {
      margin: 30px 8px 0px 8px;
   }
   .list-banner {
      margin: 1rem;
   }
   .two-banner {
      width: 100%;
   }
   .item-banner-1 {
      width: 100%;
   }
   .orginal {
      display: none;
   }
   .content-banner {
      top: 12px;
   }
   .content-banner h3 {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 1px;
   }
   .content-banner-sale h3 {
      font-size: 18px;
      margin-top: 20px;
      
   }
   
   .title-product {
      margin-top: 28px;
   }
   .title-product span {
      font-size: 18px;
   }
   .img-product-trend img {
      width: 100%;
   }
   .banner-effect {
      width: 100%;
   }
   .content-banner-sale {
      top: 100px;
      left: 0;
   }
   .title-category-product {
      flex-flow: wrap;
      padding-left: 15px;
   }
   .product-trend {
      margin-right: 20px;
   }
   .content-banner-sale p {
      white-space: pre-wrap;
      font-size: 28px;
   }
   .list-news-product {
      width: 100%;
   }
   .nav-footer {
      width: 95%;
      flex-wrap: wrap;
   }
   .item-footer-1, .item-footer-4, .item-footer-5 {
      width: 90%;
      margin-bottom: 15px;
   }
   .item-footer-2,.item-footer-3 {
      width: 45%;
      margin-bottom: 15px;
   }

}
@media screen and (min-width: 576px) and (max-width:767.98px) {
   .hotline , .icon-social-network {
      display: none;
   }
   .site-header-top {
      justify-content: center;
   }
   .site-header-top, .nav-header {
      width: 92%;
   }
   .icon-menu {
      font-size: 30px;
      display: block;
   }
   .nav-menu {
      display: none;
   }
   .icon-account {
      display: none;
   }
   .banner-mobile {
      display: block;
      width: 100%;
   }
   .banner-desktop {
      display: none;
   }
   .column-product {
      width: 50%;
   }
   .list-banner ,.one-image-banner {
      margin: 1rem;
   }
   .list-product-trend {
      padding-left: 30px;
   }
   .item-product-trend {
      
   }
   .nav-list-product {
      width: 100%;
   }
   .category {
      padding-right: 0;
   }
   .two-banner {
      width: 100%;
   }
   .item-banner-1 {
      width: 100%;
   }
   .orginal {
      display: none;
   }
   .content-banner {
      top: 50px;
   }
   .content-banner-sale h3 {
      font-size: 18px;
      margin-top: 20px;
   }
   .img-product-trend img {
      width: 100%;
   }
   .banner-effect {
      width: 100%;
   }
   .content-banner-sale {
      top: 35%;
      left: 7%;
   }
   .content-banner-sale p {
      white-space: nowrap;
      font-size:30px ;
   }
   .list-news-product {
      width: 100%;
   }
   .nav-footer {
      width: 90%;
      flex-wrap: wrap;
   }
   .item-footer-1, .item-footer-4, .item-footer-5 {
      width: 90%;
      margin-bottom: 15px;
   }
   .item-footer-2,.item-footer-3 {
      width: 45%;
      margin-bottom: 15px;
   }

}

@media screen  and (min-width :768px) and (max-width:992px) {
   .site-header-top, .nav-header {
      width: 92%;
   }
   .icon-menu {
      font-size: 30px;
      display: block;
   }
   .nav-menu {
      display: none;
   }
   .icon-account {
      display: none;
   }
   .column-product {
      width: 33%;
   }
   .list-product-trend {
      padding-left: 30px;
   }
   .item-product-trend {
      margin-right: 36px;
   }
   .nav-list-product {
      width: 100%;
   }
   .category {
      padding-right: 0;
   }
   .two-banner {
      width: 100%;
   }
   .item-banner-1 {
      padding-right: 15px;
   }
   .content-banner {
      top: 5px;
   } 
   .content-banner h3 {
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 5px;
   }
   .banner-effect {
      width: 100%;
   }
   .content-banner-sale {
      top: 0;
      left: 12%;
   }
   .content-banner-sale p {
      white-space: nowrap;
      font-size: 35px;

   }
   .content-banner-sale h3{
      font-size: 20px;
   }
   .list-news-product {
      width: 100%;
   }
   .nav-footer {
      width: 92%;

   }
}


@media screen  and (min-width : 992px) {
   .site-header-top, .nav-header {
      width: 92%;
   }
   .icon-menu {
      display: none;
   }
   .menu-bar {
      left: 14%;
   }
   .sub-menu {
      font-size: 14px;
   }
   .column-product {
      width: 33%;
   }
   .list-product-trend {
      padding-left: 30px;
   }
   .item-product-trend {
      margin-right: 36px;
   }
   .category {
      padding-right: 0;
   }
   .two-banner {
      width: 100%;
   }
   .item-banner-1 {
      padding-right: 15px;
   }
   .content-banner {
      top: 10px;
   }
   .nav-list-product {
      width: 94%;
   }
   .column-product {
      width: 25%;
   }
   .banner-effect {
      width: 100%;
   }
   .content-banner-sale {
      top: 10px;
      left: 10%;
   }
   .content-banner-sale p {
      white-space: nowrap;
   }
   .list-news-product {
      width: 100%;
   }
   .nav-footer {
      width: 95%;

   }
}

@media screen  and (min-width : 1024px) {
   .site-header-top , .nav-header {
       width: 90%;
       justify-content: space-between;

   }
   .menu-bar {   
       left: 35px;
   }
   .sub-menu {
      font-size: 16px;
   }
   .category {
      padding-right: 5px;
   }
   .menu li {
       padding-right: 20px;
   }
   .menu {
       width: 100%;
       justify-content: center;
   }
   .list-banner {
      margin: 1rem;
   }
   .two-banner {
       width: 93%;
   }
   .item-banner-1 {
       padding-right: 15px;
   }
   .content-banner {
      top: 30px;
   }
   .content-banner h3 span {
      font-size: 20px;
   }
   .nav-list-product {
       width: 90%;
   }
   .column-product {
       width: 25%;
   }
   .item-product-trend {
      margin-right: 10px;
   }
   .list-product-trend {
      padding-left: 0;
      padding-right: 0;
   }
   .banner-effect , .list-news-product {
       width: 97%;
   }
   .content-banner-sale {
       top: 10%;
       left: 10%;
   }
   .nav-footer {
       width: 92%;
   }
}

@media screen and (min-width : 1200px) {
   .site-header-top, .nav-header {
      width: 80%;
   }
  .menu {
      width: 75%;
  }
  .menu-bar {
      left: 20%;
  }
  .list-banner {
     margin: 2rem;
  }
  .sub-menu {
      font-size: 16px;
  }
  .two-banner {
      width: 84%;
  }
  .item-banner-1 {
      width: 50%;
      padding-right: 15px;
  }
  .content-banner {
      top: 70px;
  }
  .img-product-trend img {
      width: 100%;
      height: auto;
  }
  .column-product {
      width: 20%;
  }
  .list-product-trend {
      justify-content: center;
      padding-left: 40px;
      padding-right: 40px;
  }
  .nav-list-product {
     width: 86%;
  }
  .banner-effect {
    width: 84%;
  }
  .content-banner-sale {
    top: 25%;
    left: 25%;
  }
  .list-news-product {
     width: 85%;
  }
  .nav-footer {
    width: 82%;
  }
}

@media screen  and (min-width : 1920px) {
   .site-header-top, .nav-header {
      width: 80%;
   }
  .menu {
      width: 60%;
   }
  .menu-bar {
      left:25%;
   } 
   .list-banner {
      margin: 2rem;
   }
   .collection-product-trend 
   {
      margin-left: -30px;
   }
   .item-product-trend {
      width: 302px;
      margin-top: 18px;
      overflow: hidden;
      padding-right: 15px;

   }
   .img-product-trend img {
      width: 100%;
      height: auto;
   }
   .img-product-trend {
      overflow: hidden;
   }

   .two-banner {
      width: 88%;
      margin: auto;
      display: flex;
      padding-right: 60px;
   }
   .item-banner-1 {
      width: 50%;
      padding-right: 15px;
   }
   .banner-effect {
      width: 87%;
      margin: auto;
      padding-right: 18px;
   }
   .banner-effect img {
      width: 100%;
      margin-left: -10px;
      padding-right: 18px;
   }
   .content-banner-sale {
      top: 30%;
      left: 25%;
   }
   .image-news {
      height: 195px;
   }
   .image-news img {
      width: 100%;
   }
   .list-news-product {
      width: 90%;
      margin: auto;
      padding-right: 60px;
      padding-left: 20px;
   }
   .information-wandave {
      padding-right: 1px;
   }

   .nav-footer {
      width: 85%;
   }
}



